.static__data__select__all__button {
	border-radius: 8px;
	font-weight: 500;
	background: var(--primary-color);
	border: none;
	outline: none;
	opacity: 1;
	transition: opacity 0.15s ease-out;

	&.static__data__select__all__button__disabled {
		cursor: initial;
		opacity: 0.8;
	}

	&.static__data__select__all__button__enabled {
		cursor: pointer;
		&:hover {
			opacity: 0.9;
		}
	}

	.static__data__select__all__button__label {
		letter-spacing: 0.5px;
		font-family: sans-serif;
		padding: 5px 8px;
		color: var(--white-color);
		font-size: var(--fontL);
		margin: 0;
	}
}
