.extension__main__head__selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.extension__main__head__selection__left {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		.extension__main__head__selection__label {
			font-weight: 600;
			margin: 0;
			font-size: var(--fontL);
			color: var(--primary-color);
		}
	}
	.extension__main__head__selection__right {
		.extension__main__head__selection__download__all {
			padding: 5px 8px;
			box-shadow: 0 0 16px var(--box-shadow-color);
			background-color: transparent;
			border-radius: 8px;
			border: none;
			&.extension__main__head__selection__download__all__disabled {
				opacity: 0.8;
			}
			.extension__main__head__selection__download__all__label {
				margin: 0;
				font-family: sans-serif;
				font-size: var(--fontL);
				font-weight: 600;
				cursor: pointer;
				letter-spacing: 0.5px;
				color: var(--primary-color);
			}
		}
	}
}
