.extension__main__head__wrapper {
	background: var(--white-color);
	border-radius: 0 0 8px 8px;
	box-shadow: 0 0 16px var(--box-shadow-color);
	height: 130px;
	.extension__main__head {
		display: flex;
		flex-direction: column;
		padding: 10px;
		gap: 10px;
		.extension__main__head__filters {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}
	}
}
