.search__filter__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.search__filter__input__wrapper {
		display: flex;
		flex-direction: row;
		gap: 10px;
		.search__filter__input {
			width: 250px;
			height: 18px;
			border-radius: 8px;
			border: 2px solid var(--gray-color);
			padding: 4px 5px;
			font-family: sans-serif;
			font-weight: 500;
			color: var(--primary-color);
			transition: border 0.25s ease;
			outline: none;
			&:focus {
				border: 2px solid var(--primary-color);
			}
		}
	}
	.search__filter__settings {
		display: flex;
		flex-direction: row;
		gap: 5px;
		.search__filter__close__head__button {
			background-color: var(--primary-color);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			cursor: pointer;
			outline: none;
			border: none;
			width: 35px;
			height: 35px;
			&:hover {
				opacity: 0.9;
			}
			.search__filter__close__head__button__icon {
				width: 35px;
				height: 35px;
				fill: var(--white-color);
			}
		}
	}
}
.static__data__header__filter__allowed__search {
	.static__data__header__filter__item {
		.static__data__header__filter__item__label {
			text-transform: uppercase;
		}
	}
}
