.static__data__header__filter__allowed__size {
	display: flex;
	flex-direction: column;
	padding: 10px;
	.size__filter__hr {
		border: none;
		outline: none;
		margin: 5px 0;
		height: 2px;
		border-radius: 8px;
		background-color: var(--gray-color);
	}
	.size__filter__wrapper {
		.size__filter__header {
			font-size: var(--fontX);
			color: var(--primary-color);
			margin: 0;
			font-weight: 600;
		}
		.size__filter__header__wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.size__filter__wrapper__content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 10px;
			.size__filter__input {
				width: 90px;
				height: 20px;
				border-radius: 8px;
				outline: none;
				padding: 3px 5px;
				border: 2px solid var(--grey-color);
			}
			.size__filter__label {
				font-size: var(--fontL);
				color: var(--primary-color);
			}
		}
	}
	.size__filter__buttons__wrapper {
		display: flex;
		flex-direction: row;
		gap: 10px;
		.size__filter__button {
			width: 50%;
			border-radius: 4px;
			background: var(--primary-color);
			border: none;
			outline: none;
			padding: 6px 8px;
			cursor: pointer;
			opacity: 1;
			transition: opacity 0.15s ease-out;
			&:hover {
				opacity: 0.9;
			}
			.size__filter__button__label {
				margin: 0;
				color: var(--white-color);
				font-size: var(--fontM);
				font-weight: 400;
				letter-spacing: 0.5px;
				font-family: sans-serif;
			}
		}
	}
}
